<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="at.ac.tuwien.inso.esse.advancedsecsys.client"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="EsseClient" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ShowEntriesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="at.ac.tuwien.inso.esse.advancedsecsys.client.Main" />
        </activity>
    </application>
</manifest>